################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/MonkeyCache_Sample/MonkeyCache_Sample/MonkeyCache_Sample/bin/Debug/netstandard2.0
